.back-ground{
  background-image: url(https://wallpapercrafter.com/uploads/posts/62505-___lego-blocks.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.right-full{
  text-align: center;
}

.left-align{
  text-align: start;
}